<h1>Insira o arquivo XML</h1>

<?php
/** @var $this \Zend\View\Renderer\PhpRenderer */
/** @var $form \Application\Form\ImportarXmlForm */
$form->setAttribute('action', $this->url('importar_xml'));
$form->prepare();


echo $this->form()->openTag($form);

    echo $this->formRow($form->get('arquivoXml')) . "\n<br>";

    echo $this->formSubmit($form->get('submit'));

echo $this->form()->closeTag($form);