<h1>Coisas para fazer</h1>

<ul>
    <li><s>Varrer XML's  e inserir/atualizar na base</s></li>
    <li>Varrer Planilha e preencher telefones e e-mails</li>
    <li>Varrer Planilha e inserir dados faltantes (inseridos manualmente)</li>
    <li>CRUD de Cartórios</li>
    <li>Enviar Comunicados</li>
    <li>Enviar o e-mail p/ <b>vargner@p21sistemas.com.br</b></li>
</ul>


<h1>Bem-vindo! Escolha uma opção abaixo</h1>

<ul>
    <li>
        <a href="<?php echo $this->url('importar_xml'); ?>">Importar dados (através do XML)</a>
    </li>
</ul>